
/* .plan-info {
  display: flex;
  flex-direction: row;
}

.plan-info p {
  margin-right: 20px; 
}

.price {
  margin-top: 10px; 
}
.plan-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.plan-card button:hover {
  background-color: white;
  color: red;
}

.plan-card button:active {
  transform: scale(0.95);
} */

.plan-header {
  padding: 16px;
  color: white;
  text-align: center;
}

.plan-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.cost {
  font-weight: bold;
}

.card-container {
  width: 300px; /* Adjust the width as needed */
  margin: auto; /* Center the card horizontally */
  margin-top: 20px; /* Add margin for spacing */
}

.mat-list-item {
  display: block;
}
.custom-card {
  border-radius: 10px; /* Adjust border radius as needed */
   /* Adjust box shadow as needed */
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}
 .custom-button {
  
  color: #ce3f3f;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
} 

.custom-button {
  background: linear-gradient(to right, #7091F5,#40128B);
  
}
.custom-button:hover{

transition: ease-out;

}



/* You may also want to add styles for the mat-card, mat-list, and mat-list-item as needed. */

