
<div *ngFor="let planitems of plans" class="card-container" >
  <mat-card class="custom-card">
    <div class="plan-header" style="background: linear-gradient(to right,  #7091F5,#40128B ); ">
      <h2>Basic Monthly Plan</h2>
    </div>
    <mat-list>
      <!-- Remove the Monthly Price row -->
      <mat-list-item>
        <strong>Internet</strong>
      </mat-list-item>
      <br/>
      <mat-list-item>
        <strong></strong> {{planitems.internet}}
      </mat-list-item>
      <hr/>
      <mat-list-item>
        <strong>Speed</strong>
      </mat-list-item>
      <br/>
      <mat-list-item>
        <strong></strong> {{planitems.speed}}
      </mat-list-item>
      <hr/>
      <mat-list-item>
        <strong>Calls</strong> 
      </mat-list-item>
      <br/>
      <mat-list-item>
        <strong></strong> {{planitems.calls}}
      </mat-list-item>
      <br/>
      <mat-divider></mat-divider>
      
      <div class="plan-footer">
        <span class="cost">{{planitems.cost}}</span>
        <button mat-raised-button color="primary" class="custom-button" style="color: white;">Add Plan</button>
      </div>
    </mat-list>
  </mat-card>
</div>


 
